.app-header {
    background-color: var(--clr1);
    color: var(--clr2bg-light);
    
}

.header-container {
    display: flex;
    align-items: center;

}

.header-container h1 {
    flex-grow: 1;
}

.app-nav {
    display: flex;
    gap: 15px;
}


a.active {
    color: rgb(241, 212, 241);
    font-weight: 600;
    text-decoration: underline;
}

.bar-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 25px;
    background-color: lightgrey;
    border-radius: .2em;
}

.bar {
    transition: width 0.5s ease-in-out;
    height: 100%;
    background-color: var(--active);
    border-radius: .2em;
}

.bar span {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    color: black;
}

.user-info {
    margin-inline: 10px;
}


@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg-light);
    }
}
